[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".config/waybar"]
	path = .config/waybar
	url = https://github.com/thombruce/mechabar
[submodule ".config/wofi/catppuccin"]
	path = .config/wofi/catppuccin
	url = https://github.com/quantumfate/wofi
[submodule ".config/tmux/plugins/catppuccin/tmux"]
	path = .config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
