[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".config/waybar"]
	path = .config/waybar
	url = https://github.com/sejjy/mechabar
[submodule ".config/wofi/catppuccin"]
	path = .config/wofi/catppuccin
	url = https://github.com/quantumfate/wofi
