[user]
	email = thom@thombruce.com
	name = Thom Bruce
[credential]
	helper = store
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
  info = !which onefetch && onefetch
  i = info

	s = status
  co = checkout

  wt = worktree
  wta = wt add
  wtl = wt list
  wtr = wt remove
  wtd = wtr

  graph = !serie # log --graph --format=\"%C(auto)%h %d %s %Cblue%an\" --decorate

[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
  side-by-side = true
[merge]
  conflictStyle = zdiff3
