[user]
	email = thom@thombruce.com
	name = Thom Bruce
[credential]
	helper = store
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	s = status
	co = checkout
  info = !which onefetch && onefetch
	graph = log --graph --format=\"%C(auto)%h %d %s %Cblue%an\" --decorate

[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true
  side-by-side = true
[merge]
  conflictStyle = zdiff3
